<h1>All Critics</h1><br>

<% @users.each do |user| %>


<div class="user-prof">
<%= link_to user_path(user) do %>
<img src="<%=user.img_url %>">
<%end%>
</div>





<div class="down"><%= link_to user.name, user_path(user) %></div>
<div><label>Age: </label><%= user.age %></div>
<div><%= user.email %></div>
<div><%= user.country %></div>
<div><i>"<%= user.bio %>"</i></div>
<br><br><br>
<% end %>




